body{
    background-color: $darkBlue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p{
    color: $white;
}
h1{
    font-size: 2rem;
    font-family:$fontFraunces;
    color:$veryDarkDesBlue ;
}
p{
    font-size: 1rem;
    font-family: $fontBarlow;
}
a{
    color: $veryDarkDesBlue;
    font-size: 1.2rem;
    font-family: $fontFraunces;
    font-weight: 900;
    border-bottom: solid $yellow 10px;
}
ul{
    list-style: none;
    color: $white;
}
li{

}
a{
    text-decoration: none;

    
}
.center{
    margin: 0 auto;
}

.hide-on-mobile{
    @include breakpoint-down('small'){
        display: none;
    }
}
.hide-on-desktop{
@include breakpoint-up('medium'){
    display: none;
}
}