nav{
  margin-top: 0rem;
  padding-top: $marginVertical;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
display: flex;
justify-content: space-between;
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;;
    }
    a,li{
      color: $white; 
      font-family: $fontBarlow;
      margin-right: 1rem;
      border-bottom: none; 
    }
    #hamburger-menu{
      cursor: pointer;
    }
}