$softRed:hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);
$darkDesCyan:hsl(167, 40%, 24%);
$darkBlue:hsl(198, 62%, 26%);
$darkModCyan:hsl(168, 34%, 41%);


$white:hsl(0, 0%, 100%);

//!Font

$fontBarlow: 'Barlow', sans-serif;
$fontFraunces:'Fraunces', serif;