html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #19536b;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  letter-spacing: .5rem;
}

h2 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: #23303e;
}

p {
  color: #5a636c;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
}

a {
  color: #23303e;
  font-size: 1.2rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  border-bottom: solid #fad400 10px;
}

ul {
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}

.center {
  margin: 0 auto;
}

.center-mobile-image {
  position: relative;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
  width: 100vw;
}

.image-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.image-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.image-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media (max-width: 39.9375em) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-on-desktop {
    display: none;
  }
}

.profile-pic {
  display: block;
  border-radius: 10rem;
  width: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.testimonial-quote {
  text-align: center;
  margin-bottom: 1rem;
}

.testimonial-author {
  text-align: center;
  color: #23303e;
}

.testimonial-author-title {
  margin-top: .3rem;
  text-align: center;
  color: #818498;
}

.fullbody-section {
  height: 100vh;
  padding-bottom: 5vh;
  width: 100vw;
  background-color: white;
}

.first-full-viewport {
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-text-styles {
  position: relative;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  margin-top: 0rem;
  padding-top: 1rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav a, nav li {
  color: white;
  font-family: "Barlow", sans-serif;
  margin-right: 1rem;
  border-bottom: none;
}

nav #hamburger-menu {
  cursor: pointer;
}

.hero {
  height: 100vh;
}

.hero_heading {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
}

.hero_image img {
  text-align: center;
}

.section2 h2, .section2 p {
  text-align: center;
  padding-bottom: 1.5rem;
}

.section3 h2 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.section4 {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  height: 100vh;
}

.section4_text {
  -webkit-transform: translateY(-40vh);
          transform: translateY(-40vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4_text h2 {
  padding-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.section4_text p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section4 img {
  position: relative;
  right: 0%;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.section5 {
  height: 100vh;
}

.section5_text {
  -webkit-transform: translateY(-40vh);
          transform: translateY(-40vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5_text h2 {
  padding-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.section5_text p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section5 img {
  position: relative;
  right: 0%;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 105vh;
  width: 100vw;
}

.testimonials {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 100vw;
}

.testimonials .testimonial-item {
  margin-bottom: 2rem;
}

.testimonials h2 {
  color: #5a636c;
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.testimonials h3 {
  font-family: "Fraunces", serif;
  font-size: 1rem;
}

.section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section6-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  text-align: center;
  background-color: #458c7e;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 100%;
  width: 100vw;
}

.footer p {
  color: #25564b;
}

.footer a {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: #25564b;
  margin-bottom: 1rem;
  text-decoration: none;
  border: none;
}

.footer a:hover {
  color: #2e6b5e;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3rem;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.footer-icons img {
  cursor: pointer;
  padding-right: .8rem;
  padding-left: .8rem;
}

.footer img {
  margin-bottom: 1rem;
  color: #25564b;
}
/*# sourceMappingURL=style.css.map */